<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ws" class="my.home.web.ws.WsAppender"/>

    <logger name="org.springframework" level="error"/>
    <logger name="_org.springframework" level="error"/>
    <logger name="org.testng.internal.Graph" level="info"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ws"/>
    </root>
</configuration>