<div class="cols">
    <div class="col col-2">
        <h1>Test configs</h1>
        <ul id="test-config-list">
            <li>
                <a href="'#tests/1" data-link>#1 - How to build UI tests</a>
            </li>
            <li>
                <a href="#tests/2" data-link>#2 - How to build API tests</a>
            </li>
        </ul>
    </div>
    <div class="col col-2">
        <h4 style="margin-top: -1em; margin-bottom: 0.5em;">Log</h4>
        <div id="logger" class="logger">
            логи тестов...<br>
        </div>
    </div>
</div>

<script type="module" src="/views/test.js"></script>


