body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;

}

.home {
    opacity: 0.77;
    background-image: url('/images/germiona.jpg');
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: right top;
}

h1 {
    margin-top: -0.5em;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.footer {
    height: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 0 0 0 var(--nav-width);
    background: rgba(155, 155, 155, 0.18);
    font-size: 14px;
    display: flex;
    flex-flow: row;
    padding-top: 4px;
    justify-content: space-around;
    flex-direction: row;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

.cols {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -10px;
}
.col {
  flex-basis: 25%;
  margin: 0 10px;
}

.col {
  margin: 0 10px;
}
.col-1 {
  flex-basis: 25%;
}
.col-2 {
  flex-basis: calc(50% + 20px);
}
.col-3 {
  flex-basis: calc(75% + 40px);
}
.col-4 {
  flex-basis: 100%;
}

div.logger {
    background-color: #dddddd;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    font-size: 14px;
    white-space: pre-line;
}

.lds-dual-ring {
  display: inline-block;
  width: 14px;
  height: 14px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  margin: 1px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #191;
  border-color: #191 transparent #191 transparent;
  animation: lds-dual-ring 1.5s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}